<div class="modal-header">
    <h3 class="modal-title">Notkun 
    	<span ng-show="data.title">- 
    	{{ data.title }}
	</span></h3>
</div>
<div class="modal-body">
	<dl class="dl-horizontal">
	  <dt>Tæki</dt>
	  <dd><a href="#">{{ data.taeki }}</a></dd>
	  <dt>Bílstjóri</dt>
	  <dd>{{ data.driver }}</dd>
	  <dt>Notkun</dt>
	  <dd>{{ data.notkun }}</dd>
	  <dt>Olía</dt>
	  <dd>{{ data.oil }}</dd>
	  <dt>Staða mælis</dt>
	  <dd>{{ data.km }} km</dd>
	  <dt>Akstur</dt>
	  <dd>{{ data.km_diff }} km</dd>
	  <dt>Olíu Eyðsla</dt>
	  <dd>{{ data.oil_usage * 100 }} l/100 km</dd>
	  <dt>Dags</dt>
	  <dd>{{ data.date | date:"HH:mm MM.dd.yyyy" }} </dd>
	  
<!-- 	  <dt>Eyðsla</dt>
	  <dd>{{ data.consuption }}l á km</dd> -->
	  <dt>Björgunarmenn</dt>
	  <dd>
	  	<span ng-repeat="passenger in data.passengers">
	  		<span class="label label-primary">{{ passenger.name }}
	  		</span>&nbsp;
	  	</span>
	  </dd>
	  
	</dl>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="ok()">Loka</button>
</div>