<div class="modal-header">
    <h3 class="modal-title">Notkun {{ data.date | date:"MM.dd.yyyy" }}</h3>
</div>
<div class="modal-body">
	<dl class="dl-horizontal">
	  <dt>Bílstjóri</dt>
	  <dd>{{ data.driver }}</dd>
	  <dt>Notkun</dt>
	  <dd>{{ data.notkun }}</dd>
	  <dt>Olía</dt>
	  <dd>{{ data.oil }}</dd>
	  <dt>Km</dt>
	  <dd>{{ data.km }}</dd>
<!-- 	  <dt>Eyðsla</dt>
	  <dd>{{ data.consuption }}l á km</dd> -->
	  <dt>Björgunarmenn</dt>
	  <dd>
	  	<span ng-repeat="passenger in data.passengers">
	  		<span class="label label-primary">{{ passenger.name }}
	  		</span>&nbsp;
	  	</span>
	  </dd>
	  
	</dl>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="ok()">Loka</button>
</div>